body {
  font: 7px sans-serif;
  background-color: lightgrey-cmyk(0, 81%,81%, 30%);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}